.ss{
background-color: rgb(255, 255, 255);
position: absolute;
top: -60px; 
left: 90%;
}
.d{
background-color: transparent;
}
.st{  
background-color: rgb(255, 255, 255);
position: absolute;
top: -60px;
left: 85%; 
}